@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:where(*, *::after, *::before) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 50px;

  font-family: 'Red Hat Display', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  @apply bg-gradient-to-tr from-[#e69ef1] via-[#a71ab4] to-[#4419df];
}

body {
  @apply w-full min-h-screen overflow-hidden;
}
