@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:where(*, *::after, *::before) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 50px;

  font-family: 'Red Hat Display', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background: linear-gradient(to right top, #300537, #6b0546, #a31a45, #d04436, #eb7912);
}

body {
  width: 100%;
  min-height: 100vh;
}
